name: Containerized CI
on:
  push:
    branches: [ main ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build image
        run: docker build -t ts-sandbox .
      - name: Launch container
        run: docker run ts-sandbox sleep 5